<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="logDirectory" value="C:/Logs"/>
    <variable name="company" value="Beslag o Metall"/>
    <variable name="recipients" value="magnus.hagelin@m2msolutions.se"/>
    <variable name="sender" value="exception@beslagometall.se"/>
    <variable name="host" value="10.0.0.1"/>
    <targets>
      <target xsi:type="File"
              name="file"
              fileName="${logDirectory}/${processname}.log"
              layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${threadid} ${level} ${callsite:includeSourcePath=false} ${message} ${exception:format=message,stacktrace}">
      </target>
      <target xsi:type="File"
              name="config" deleteOldFileOnStartup="true"
              fileName="${logDirectory}/${processname}.config.log"
              layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${threadid} ${level} ${callsite:includeSourcePath=false} ${message} ${exception:format=message,stacktrace}">
      </target>
      <target xsi:type="Mail"
          name="mail"
          subject="Exception at ${company} in ${processname}"
          to="${recipients}"
          from="${sender}"
          body="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${threadid} ${level} ${callsite:includeSourcePath=false} ${message} ${exception:format=message,stacktrace}"
          smtpServer="${host}">
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" minlevel="Fatal" writeTo="mail" />
      <logger name="ConfigLogger" minlevel="Trace" writeTo="config" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="M2M.DataCenter.System" connectionString="Data Source=SQL2008;Initial Catalog=M2M.DataCenter.BM;uid=DataCenter;pwd=pdQ7718-t;"/>
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>