<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="logDirectory" value="C:/m2m/Logs" />
    <targets>
      <target xsi:type="File" name="file" fileName="${logDirectory}/${processname}.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${threadid} ${level} ${callsite:includeSourcePath=false} ${message} ${exception:format=tostring}">
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="M2M.DataCenter.System" connectionString="Data Source=SSEHILSQL01;Initial Catalog=M2M.DataCenter;uid=M2M;pwd=cde3kliQ;" />
  </connectionStrings>
  <appSettings>
    <add key="MachineType" value="SingleMachine" />
    <add key="DivisionId" value="Press" />
    <add key="MachineId" value="31201" />
    <add key="OeeSystemAddress" value="http://172.16.80.82/M2M.DataCenter/Production/MachinePage.aspx?DivisionId={0}&amp;MachineId={1}" />
    <!--<add key="MachineType" value="Line"/>
    <add key="DivisionId" value="PackLine"/>
    <add key="MachineId" value=""/>
    <add key="OeeSystemAddress" value="http://192.168.188.96/M2M.OeeSystem/Production/DivisionPage.aspx?DivisionId={0}"/>-->
    <add key="KioskMode" value="True" />
    <!--<add key="Language" value="en-us"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>