<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="logDirectory" value="C:/M2M Solutions/Logs"/>
    <targets>
      <target xsi:type="File" name="file" fileName="${logDirectory}/${processname}.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${threadid} ${level} ${callsite:includeSourcePath=false} ${message} ${exception:format=message,stacktrace}">
      </target>
      <target xsi:type="Console" name="console" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${threadid} ${level} ${callsite:includeSourcePath=false} ${message} ${exception:format=message,stacktrace}">
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file"/>
      <logger name="*" minlevel="Trace" writeTo="console"/>
    </rules>
  </nlog>
  <connectionStrings>
    <add name="M2M.DataCenter.System" connectionString="Data Source=SQL2008S;Initial Catalog=M2M.DataCenter;uid=DataCenter;pwd=pdQ7718-t;"/>
  </connectionStrings>
  <appSettings>
    <add key="PollPath" value="\\ADMIN\SPCS Tid"/>
    <!--<add key="PollPath" value="\\SSEHILLEXIT\Export\PRTA"/>-->
    <add key="OpcTags" value=""/>
  </appSettings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
