<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="logDirectory" value="C:/M2M Solutions/Logs"/>
    <targets>
      <target xsi:type="File" name="file" fileName="${logDirectory}/${processname}.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${threadid} ${level} ${callsite:includeSourcePath=false} ${message} ${exception:format=message,stacktrace}">
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file"/>
    </rules>
  </nlog>
  <connectionStrings>
    <add name="M2M.DataCenter.System" connectionString="Data Source=SQL2017;Initial Catalog=OeeSystem;uid=DataCenter;pwd=pdQ7718-t;"/>
  </connectionStrings>
  <startup>
    <!--<appSettings>
    <add key="OpcServerName" value="Kepware.KEPServerEX.V6" />
  </appSettings>-->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
