USE [M2M.DataCenter]
GO
/****** Object:  UserDefinedFunction [dbo].[MaxDateValue]    Script Date: 12/17/2009 15:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[MaxDateValue]
(
	@value1 datetime,
	@value2 datetime
)
RETURNS datetime
AS
BEGIN
	DECLARE @Result datetime
	SET @value1 =ISNULL(@value1,getDate())
	SET @value2 =ISNULL(@value2,getDate())
	IF @value1 >= @value2
		SET @Result = @value1
	ELSE
		SET @Result = @value2
RETURN @Result
END
GO

CREATE FUNCTION [dbo].[MinDateValue]
(
	@value1 datetime,
	@value2 datetime
)
RETURNS datetime
AS
BEGIN
	DECLARE @Result datetime	
	SET @value1 = ISNULL(@value1,getDate())
	SET @value2 = ISNULL(@value2,getDate())
    IF @value1 <= @value2
		SET @Result = @value1
	ELSE
	SET @Result = @value2

RETURN @Result      
END


