USE [M2M.DataCenter]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[Users]    Script Date: 12/10/2009 09:17:47 ******/
CREATE TABLE [dbo].[Users](
	[UserId] [nvarchar](35) NOT NULL,
	[DisplayName] [nvarchar](35) NOT NULL,
	[Password] [nvarchar](48) NOT NULL,
	[Notes] [nvarchar](250) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Roles]    Script Date: 12/16/2011 13:39:14 ******/
CREATE TABLE [dbo].[Roles](
	[Role] [nvarchar](35) NOT NULL,
	[DisplayName] [nvarchar](50) NULL,
	[AccessLevel] [int] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Role] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[UserRoles]    Script Date: 12/16/2011 13:41:23 ******/
CREATE TABLE [dbo].[UserRoles](
	[UserRoleId] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](35) NOT NULL,
	[Role] [nvarchar](35) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([Role])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO

/****** Object:  Table [dbo].[Modules]    Script Date: 12/16/2011 13:40:01 ******/
CREATE TABLE [dbo].[Modules](
	[Module] [nvarchar](35) NOT NULL,
	[DisplayName] [nvarchar](50) NULL,
	[SystemOnly] [bit] NULL,
 CONSTRAINT [PK_Modules] PRIMARY KEY CLUSTERED 
(
	[Module] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[UserModules]    Script Date: 12/16/2011 13:44:47 ******/
CREATE TABLE [dbo].[UserModules](
	[UserModuleId] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](35) NOT NULL,
	[Module] [nvarchar](35) NOT NULL,
 CONSTRAINT [PK_UserModules] PRIMARY KEY CLUSTERED 
(
	[UserModuleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[UserModules]  WITH CHECK ADD  CONSTRAINT [FK_UserModules_Modules] FOREIGN KEY([Module])
REFERENCES [dbo].[Modules] ([Module])
GO
ALTER TABLE [dbo].[UserModules] CHECK CONSTRAINT [FK_UserModules_Modules]
GO
ALTER TABLE [dbo].[UserModules]  WITH CHECK ADD  CONSTRAINT [FK_UserModules_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserModules] CHECK CONSTRAINT [FK_UserModules_Users]
GO

/****** Object:  Table [dbo].[UserSettings]    Script Date: 12/10/2009 09:19:07 ******/
CREATE TABLE [dbo].[UserSettings](
	[UserId] [nvarchar](35) NOT NULL,
	[Name] [nvarchar](35) NOT NULL,
	[Value] [nvarchar](250) NULL,
 CONSTRAINT [PK_UserSettings] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD  CONSTRAINT [FK_UserSettings_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserSettings] CHECK CONSTRAINT [FK_UserSettings_Users]
GO


/****** Object:  Table [dbo].[Divisions]    Script Date: 12/10/2009 09:19:38 ******/
CREATE TABLE [dbo].[Divisions](
	[DivisionId] [nvarchar](35) NOT NULL,
	[GroupingId] int NULL,
	[DisplayName] [nvarchar](35) NOT NULL,
	[Notes] [nvarchar](250) NOT NULL,
	[ShortName] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_Divisions] PRIMARY KEY CLUSTERED 
(
	[DivisionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[DivisionSettings]    Script Date: 04/28/2014 15:57:54 ******/
CREATE TABLE [dbo].[DivisionSettings](
	[DivisionId] [nvarchar](35) NOT NULL,
	[Setting] [nvarchar](35) NOT NULL,
	[Value] [nvarchar](250) NULL,
	[LastModified] [datetime] NULL,
 CONSTRAINT [PK_DivisionSettings] PRIMARY KEY CLUSTERED 
(
	[DivisionId] ASC,
	[Setting] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[DivisionSettings]  WITH CHECK ADD  CONSTRAINT [FK_DivisionSettings_Divisions] FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Divisions] ([DivisionId])
GO

ALTER TABLE [dbo].[DivisionSettings] CHECK CONSTRAINT [FK_DivisionSettings_Divisions]
GO

/****** Object:  Table [dbo].[UserDivisions]    Script Date: 12/16/2011 13:46:57 ******/
CREATE TABLE [dbo].[UserDivisions](
	[UserDivisionId] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](35) NOT NULL,
	[DivisionId] [nvarchar](35) NOT NULL,
 CONSTRAINT [PK_UserDivisions] PRIMARY KEY CLUSTERED 
(
	[UserDivisionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[UserDivisions]  WITH CHECK ADD  CONSTRAINT [FK_UserDivisions_Divisions] FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Divisions] ([DivisionId])
GO
ALTER TABLE [dbo].[UserDivisions] CHECK CONSTRAINT [FK_UserDivisions_Divisions]
GO
ALTER TABLE [dbo].[UserDivisions]  WITH CHECK ADD  CONSTRAINT [FK_UserDivisions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserDivisions] CHECK CONSTRAINT [FK_UserDivisions_Users]
GO

/****** Object:  Table [dbo].[SystemSettings]    Script Date: 12/16/2011 14:42:49 ******/
CREATE TABLE [dbo].[SystemSettings](
	[Name] [nvarchar](35) NOT NULL,
	[Value] [nvarchar](250) NULL,
 CONSTRAINT [PK_SystemSettings] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Machines]    Script Date: 12/10/2009 09:20:22 ******/
CREATE TABLE [dbo].[Machines](
	[MachineId] [nvarchar](20) NOT NULL,
	[DisplayName] [nvarchar](35) NOT NULL,
	[Notes] [nvarchar](250) NOT NULL,
	[DivisionId] [nvarchar](35) NOT NULL,
	[ShortName] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_Machines] PRIMARY KEY CLUSTERED 
(
	[MachineId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Machines]  WITH CHECK ADD  CONSTRAINT [FK_Machines_Divisions] FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Divisions] ([DivisionId])
GO
ALTER TABLE [dbo].[Machines] CHECK CONSTRAINT [FK_Machines_Divisions]
GO

/****** Object:  Table [dbo].[MachineSettings]    Script Date: 12/16/2011 14:36:48 ******/
CREATE TABLE [dbo].[MachineSettings](
	[MachineId] [nvarchar](20) NOT NULL,
	[Setting] [nvarchar](35) NOT NULL,
	[Value] [nvarchar](250) NULL,
	[LastModified] [datetime] NULL,
 CONSTRAINT [PK_MachineSettings] PRIMARY KEY CLUSTERED 
(
	[MachineId] ASC,
	[Setting] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[MachineSettings]  WITH CHECK ADD  CONSTRAINT [FK_MachineSettings_Machines] FOREIGN KEY([MachineId])
REFERENCES [dbo].[Machines] ([MachineId])
GO
ALTER TABLE [dbo].[MachineSettings] CHECK CONSTRAINT [FK_MachineSettings_Machines]
GO

/****** Object:  Table [dbo].[ArticleSettings]    Script Date: 12/16/2011 14:31:09 ******/
CREATE TABLE [dbo].[ArticleSettings](
	[ArticleNumber] [nvarchar](20) NOT NULL,
	[MachineId] [nvarchar](20) NOT NULL,
	[Setting] [nvarchar](35) NOT NULL,
	[Value] [nvarchar](250) NULL,
	[LastModified] [datetime] NULL,
 CONSTRAINT [PK_ArticleSettings] PRIMARY KEY CLUSTERED 
(
	[ArticleNumber] ASC,
	[MachineId] ASC,
	[Setting] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ArticleSettings]  WITH CHECK ADD  CONSTRAINT [FK_ArticleSettings_Machines] FOREIGN KEY([MachineId])
REFERENCES [dbo].[Machines] ([MachineId])
GO
ALTER TABLE [dbo].[ArticleSettings] CHECK CONSTRAINT [FK_ArticleSettings_Machines]
GO

/****** Object:  Table [dbo].[TagInfo]    Script Date: 12/16/2011 14:44:47 ******/
CREATE TABLE [dbo].[TagInfo](
	[TagId] [nvarchar](100) NOT NULL,
	[MachineId] [nvarchar](20) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[Description] [nvarchar](250) NULL,
	[Address] [nvarchar](35) NOT NULL,
	[DataType] [int] NOT NULL,
	[Size] [int] NOT NULL,
	[ReadOnly] [bit] NOT NULL,
	[TagType] [int] NULL,
	[ScanRate] [int] NOT NULL,
	[ReasonCode] [int] NULL,
	[CategoryId] [int] NULL,
	[Inverted] [bit] NULL,
	[DivisionId] [nvarchar](35) NULL,
	[SendPanelRequest] [bit] NOT NULL,
	[RequestDelay] [int] NOT NULL,
 CONSTRAINT [PK_TagInfo] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TagInfo]  WITH CHECK ADD  CONSTRAINT [FK_TagInfo_Machines] FOREIGN KEY([MachineId])
REFERENCES [dbo].[Machines] ([MachineId])
GO


/****** Object:  Table [dbo].[ProductionScheme]    Script Date: 12/10/2009 09:23:20 ******/
CREATE TABLE [dbo].[ProductionScheme](
	[Id] [uniqueidentifier] NOT NULL,
	[Shift] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[RecurrenceRule] [nvarchar](MAX) NULL,
	[RecurrenceParentId] [uniqueidentifier] NULL,
	[DivisionId] [nvarchar](35) NOT NULL,
	[MachineId] [nvarchar](20) NULL,
 CONSTRAINT [PK_ProductionScheme] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ProductionScheme]  WITH CHECK ADD  CONSTRAINT [FK_ProductionScheme_Divisions] FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Divisions] ([DivisionId])
GO
ALTER TABLE [dbo].[ProductionScheme] CHECK CONSTRAINT [FK_ProductionScheme_Divisions]
GO
ALTER TABLE [dbo].[ProductionScheme]  WITH CHECK ADD  CONSTRAINT [FK_ProductionScheme_ParentProductionScheme] FOREIGN KEY([RecurrenceParentId])
REFERENCES [dbo].[ProductionScheme] ([Id])
GO
ALTER TABLE [dbo].[ProductionScheme] CHECK CONSTRAINT [FK_ProductionScheme_ParentProductionScheme]
GO

/****** Object:  Table [dbo].[States]    Script Date: 2017-02-27 14:32:38 ******/
CREATE TABLE [dbo].[States](
	[StateId] [uniqueidentifier] NOT NULL,
	[DivisionId] [nvarchar](35) NULL,
	[MachineId] [nvarchar](20) NOT NULL,
	[ArticleNumber] [nvarchar](32) NOT NULL,
	[StateType] [int] NOT NULL,
	[TimeStampOnSet] [datetime] NOT NULL,
	[TimeStampOnReset] [datetime] NULL,
	[NumberOfItemsOnSet] [int] NULL,
	[NumberOfItemsOnReset] [int] NULL,
	[NumberOfRejectedOnSet] [int] NULL,
	[NumberOfRejectedOnReset] [int] NULL,
	[Overridden] [bit] NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[States] ADD  CONSTRAINT [DF_States_Overridden]  DEFAULT ((0)) FOR [Overridden]
GO

ALTER TABLE [dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_States_Machines] FOREIGN KEY([MachineId])
REFERENCES [dbo].[Machines] ([MachineId])
GO

ALTER TABLE [dbo].[States] CHECK CONSTRAINT [FK_States_Machines]
GO

/****** Object:  Table [dbo].[Events]    Script Date: 2017-02-27 14:17:05 ******/
CREATE TABLE [dbo].[Events](
	[EventId] [uniqueidentifier] NOT NULL,
	[MachineId] [nvarchar](20) NOT NULL,
	[ArticleNumber] [nvarchar](32) NOT NULL,
	[TagId] [nvarchar](60) NOT NULL,
	[ReasonCode] [int] NULL,
	[EventRaised] [datetime] NOT NULL,
	[CurrentNumberOfItems] [int] NOT NULL,
	[TimeForNextEvent] [datetime] NULL,
	[RunRate] [int] NULL,
	[DivisionId] [nvarchar](35) NULL,
	[Overridden] [bit] NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[Events] ADD  CONSTRAINT [DF_Events_Overridden]  DEFAULT ((0)) FOR [Overridden]
GO

ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Machines] FOREIGN KEY([MachineId])
REFERENCES [dbo].[Machines] ([MachineId])
GO

ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Machines]
GO

ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_TagInfo] FOREIGN KEY([TagId])
REFERENCES [dbo].[TagInfo] ([TagId])
GO

ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_TagInfo]
GO

/****** Object:  Table [dbo].[EventCategories]    Script Date: 12/16/2011 14:34:01 ******/
CREATE TABLE [dbo].[EventCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](30) NOT NULL,
	[FlowError] [bit] NULL,
	[ChangeOver] [bit] NULL,
	[NoProduction] [bit] NULL,
 CONSTRAINT [PK_EventCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RealTimeValues](
	[MachineId] [nvarchar](20) NOT NULL,
	[ProductionSwitch] [bit] NULL,
	[Automat] [bit] NULL,
	[ArticleNumber] [nvarchar](20) NULL,
	[CurrentCycleCount] [int] NULL,
	[LastReadCycleCount] [int] NULL,
	[IsConnected] [bit] NULL,
	[LastChanged] [datetime] NULL,
	[CurrentRejectedCount] [int] NULL,
	[LastReadRejectedCount] [int] NULL,
	[FlowErrorActive] [bit] NULL,
	[ValidAuto] [bit] NULL,
	[ChangeOverActive] [bit] NULL,
 CONSTRAINT [PK_RealTimeValues] PRIMARY KEY CLUSTERED 
(
	[MachineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [dbo].[OeeData](
	[OeeDataId] [uniqueidentifier] NOT NULL,
	[DivisionId] [nvarchar](35) NOT NULL,
	[MachineId] [nvarchar](20) NOT NULL,
	[GroupingId] [int] NULL,
	[Shift] [int] NOT NULL,
	[ArticleNumber] [nvarchar](20) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[AutoTime] [float] NOT NULL,
	[NoProductionTime] [float] NOT NULL,
	[ProducedItems] [int] NOT NULL,
	[DiscardedItems] [int] NOT NULL,
	[NotConnectedTime] [float] NULL,
	[FlowErrorTime] [float] NULL,
	[ChangeOverTime] [float] NULL,
 CONSTRAINT [PK_OeeData] PRIMARY KEY NONCLUSTERED 
(
	[OeeDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[OeeData]  WITH CHECK ADD  CONSTRAINT [FK_OeeData_Divisions] FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Divisions] ([DivisionId])
GO
ALTER TABLE [dbo].[OeeData] CHECK CONSTRAINT [FK_OeeData_Divisions]
GO
ALTER TABLE [dbo].[OeeData]  WITH CHECK ADD  CONSTRAINT [FK_OeeData_Machines] FOREIGN KEY([MachineId])
REFERENCES [dbo].[Machines] ([MachineId])
GO
ALTER TABLE [dbo].[OeeData] CHECK CONSTRAINT [FK_OeeData_Machines]
GO


/****** Object:  Table [dbo].[Maintenance]    Script Date: 12/10/2009 09:25:01 ******/
CREATE TABLE [dbo].[Maintenance](
	[MachineId] [nvarchar](20) NOT NULL,
	[Uptime] [money] NOT NULL CONSTRAINT [DF_Maintenance_Uptime]  DEFAULT ((0)),
	[UptimeTransferred] [money] NOT NULL CONSTRAINT [DF_Maintenance_TransferedUptime]  DEFAULT ((0)),
	[Moments] [int] NOT NULL CONSTRAINT [DF_Maintenance_Moments]  DEFAULT ((0)),
	[MomentsTransferred] [int] NOT NULL CONSTRAINT [DF_Maintenance_TransferedMoments]  DEFAULT ((0)),
	[MomentsLastRead] [int] NULL,
 CONSTRAINT [PK_Maintenance] PRIMARY KEY CLUSTERED 
(
	[MachineId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Shifts]    Script Date: 03/17/2010 15:16:42 ******/
CREATE TABLE [dbo].[Shifts](
	[ShiftId] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Shifts] PRIMARY KEY CLUSTERED 
(
	[ShiftId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [dbo].[ReasonCodes]    Script Date: 03/17/2010 15:17:23 ******/
CREATE TABLE [dbo].[ReasonCodes](
	[TagId] [nvarchar](100) NOT NULL,
	[ReasonCode] [int] NOT NULL,
	[DivisionId] [nvarchar](35) NOT NULL,
	[MachineId] [nvarchar](20) NOT NULL,
	[DisplayName] [nvarchar](90) NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_ReasonCodes] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC,
	[ReasonCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ReasonCodes]  WITH CHECK ADD  CONSTRAINT [FK_ReasonCodes_Machines] FOREIGN KEY([MachineId])
REFERENCES [dbo].[Machines] ([MachineId])
GO
ALTER TABLE [dbo].[ReasonCodes] CHECK CONSTRAINT [FK_ReasonCodes_Machines]
GO

/****** Object:  Table [dbo].[OeeCalculateRequests]    Script Date: 2017-02-27 14:19:16 ******/
CREATE TABLE [dbo].[OeeCalculateRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DivisionId] [nvarchar](35) NOT NULL,
	[MachineId] [nvarchar](20) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_OeeCalculateActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[StoppageData]    Script Date: 2017-02-27 14:22:06 ******/
CREATE TABLE [dbo].[StoppageData](
	[StoppageDataId] [uniqueidentifier] NOT NULL,
	[DivisionId] [nvarchar](35) NULL,
	[MachineId] [nvarchar](20) NULL,
	[GroupingId] [int] NULL,
	[Shift] [int] NULL,
	[ArticleNumber] [nvarchar](32) NULL,
	[Category] [int] NULL,
	[StopDate] [datetime] NULL,
	[StopReason] [nvarchar](100) NULL,
	[NumberOfStops] [int] NULL,
	[ElapsedTime] [float] NULL,
	[SystemError] [bit] NULL,
	[StopRatio] [float] NULL,
 CONSTRAINT [PK_StoppageData] PRIMARY KEY CLUSTERED 
(
	[StoppageDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[StoppageCalculateRequests]    Script Date: 2017-02-27 14:29:29 ******/
CREATE TABLE [dbo].[StoppageCalculateRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DivisionId] [nvarchar](35) NOT NULL,
	[MachineId] [nvarchar](20) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_StoppageCalculateRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[ReasonCodeSequences]    Script Date: 10/29/2013 06:22:42 ******/
CREATE TABLE [dbo].[ReasonCodeSequences](
	[TagId] [nvarchar](100) NOT NULL,
	[LastSequence] [int] NOT NULL,
 CONSTRAINT [PK_ReasonCodeSequences] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[ReasonCodeSequences] ADD  CONSTRAINT [DF_ReasonCodeSequences_LastSequence]  DEFAULT ((0)) FOR [LastSequence]
GO

/****** Object:  Table [dbo].[Groupings]    Script Date: 10/29/2013 06:23:08 ******/
CREATE TABLE [dbo].[Groupings](
	[GroupingId] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](25) NULL,
	[GroupingType] [int] NULL,
 CONSTRAINT [PK_Groupings] PRIMARY KEY CLUSTERED 
(
	[GroupingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[PendingPanelRequests]    Script Date: 2017-02-27 14:24:10 ******/
CREATE TABLE [dbo].[PendingPanelRequests](
	[EventId] [uniqueidentifier] NOT NULL,
	[TagId] [nvarchar](60) NULL,
	[EventRaised] [datetime] NULL,
	[DisplayName] [nvarchar](50) NULL,
	[MachineId] [nvarchar](20) NULL,
 CONSTRAINT [PK_PendingPanelRequests] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[PanelButtons]    Script Date: 2017-02-27 14:30:10 ******/
CREATE TABLE [dbo].[PanelButtons](
	[TagId] [nvarchar](60) NOT NULL,
	[ReasonCode] [int] NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[PosX] [int] NULL,
	[PosY] [int] NULL,
 CONSTRAINT [PK_PanelButtons] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC,
	[ReasonCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO



/****** Object:  Table [dbo].[ChangeOvers]    Script Date: 2017-02-27 14:25:26 ******/
CREATE TABLE [dbo].[ChangeOvers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MachineId] [nvarchar](20) NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Article] [nvarchar](32) NULL,
	[PreviousArticle] [nvarchar](32) NULL,
	[CountThis] [bit] NULL,
	[ChangeOverStart] [datetime] NULL,
	[ChangeOverEnd] [datetime] NULL,
 CONSTRAINT [PK_ChangeOvers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[ChangeOvers]  WITH CHECK ADD  CONSTRAINT [FK_ChangeOvers_ChangeOvers] FOREIGN KEY([MachineId])
REFERENCES [dbo].[Machines] ([MachineId])
GO

ALTER TABLE [dbo].[ChangeOvers] CHECK CONSTRAINT [FK_ChangeOvers_ChangeOvers]
GO

/****** Object:  Table [dbo].[ChangeOverCalculateRequests]    Script Date: 2017-02-27 14:26:01 ******/
CREATE TABLE [dbo].[ChangeOverCalculateRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[EventId] [uniqueidentifier] NOT NULL,
	[MachineId] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ChangeOverCalculateRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[MonitorValues]    Script Date: 2017-02-27 14:28:07 ******/
CREATE TABLE [dbo].[MonitorValues](
	[DivisionId] [nvarchar](35) NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MonitorValues] PRIMARY KEY CLUSTERED 
(
	[DivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO


/****** Object:  Index [IX_EventRaised]    Script Date: 03/05/2014 11:19:40 ******/
CREATE NONCLUSTERED INDEX [IX_EventRaised] ON [dbo].[Events] 
(
	[EventRaised] DESC
)
INCLUDE ( [MachineId],
[TagId],
[TimeForNextEvent]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
GO

/****** Object:  Index [IX_TimeStampOnSet]    Script Date: 03/05/2014 11:27:28 ******/
CREATE NONCLUSTERED INDEX [IX_TimeStampOnSet] ON [dbo].[States] 
(
	[TimeStampOnSet] DESC
)
INCLUDE ( [MachineId],
[StateType],
[TimeStampOnReset]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
GO

