USE [M2M.DataCenter]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER TABLE [dbo].[TagInfo] 
	ADD [Inverted] [bit] NULL

GO

ALTER TABLE [dbo].[RealTimeValues] 
	ADD [LastChanged] [datetime] NULL,
	[CurrentCycleCount] [int] NULL,
	[LastReadCycleCount] [int] NULL,
	[IsConnected] [bit] NULL

GO

ALTER TABLE [dbo].[Maintenance] 
	ADD [MomentsLastRead] [int] NULL

GO