<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="M2M.DataCenter.System" connectionString="Data Source=SQL2008;Initial Catalog=M2M.DataCenter;uid=DataCenter;pwd=pdQ7718-t;"/>
  </connectionStrings>
  <appSettings>
    <add key="Interval" value="3600000"/>
    <add key="MailSender" value="systemcheck@beslagometall.se"/>
    <add key="MailRecipient" value="magnus.hagelin@m2msolutions.se"/>
    <add key="MailSubject" value="Systemfel på Beslag &amp; Metall"/>
  </appSettings>
  <system.net>
    <mailSettings>
      
      <!-- Use this setting in production -->
      <smtp deliveryMethod="Network">
        <network host="10.0.0.1" port="25"/>
      </smtp>  
      <!-- Use this setting for development 
        <smtp deliveryMethod="SpecifiedPickupDirectory">
          <specifiedPickupDirectory pickupDirectoryLocation="C:\c\Temp"  />
        </smtp>-->
    </mailSettings>
  </system.net>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
