<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="M2M.DataCenter.Report.Properties.Settings.M2M_DataCenter" connectionString="Data Source=SQL2017;Initial Catalog=OeeSystem;uid=DataCenter;pwd=pdQ7718-t;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
